---
import SidebarLeftCollapseSvg from '@/assets/sidebar-left-collapse.svg'
import LogoSvg from '@/assets/logo.svg'
import FileExplorer from './FileExplorer.astro'
import { Languages } from '@/hooks/useLanguage'

const th610Link = 'vault/th610-christian-ethics'
const tree = {
  name: 'root',
  type: 'directory',
  children: [
    {
      name: 'TH 610 Christian Ethics',
      type: 'directory',
      children: [
        {
          name: 'Persons',
          type: 'directory',
          closed: true,
          children: [
            {
              name: 'Socrates',
              type: 'file',
              ext: 'md',
              active: true,
              slug: getLink(`${th610Link}/persons/socrates`),
            },
            {
              name: 'Plato',
              type: 'file',
              ext: 'md',
              active: true,
              slug: getLink(`${th610Link}/persons/plato`),
            },
            {
              name: 'Plotinus',
              type: 'file',
              ext: 'md',
              active: true,
              slug: getLink(`${th610Link}/persons/plotinus`),
            },
            {
              name: 'Porphyry',
              type: 'file',
              ext: 'md',
              active: true,
              slug: getLink(`${th610Link}/persons/porphyry`),
            },
            {
              name: 'Augustine',
              type: 'file',
              ext: 'md',
              active: true,
              slug: getLink(`${th610Link}/persons/augustine`),
            },
            {
              name: 'Reinhhold Niebuhr',
              type: 'file',
              ext: 'md',
              active: true,
              slug: getLink(`${th610Link}/persons/reinhold-niebuhr`),
            },
          ],
        },

        {
          name: 'Books',
          type: 'directory',
          closed: true,
          children: [
            {
              name: 'An Introduction To Christian Ethics Goals Duties and Virtues',
              type: 'file',
              ext: 'pdf',
              slug: getLink(
                `${th610Link}/books/an-introduction-to-christian-ethics`
              ),
            },
            {
              name: 'Christian Virtue Ethics (Meego)',
              type: 'file',
              ext: 'pdf',
              slug: getLink(`${th610Link}/books/christian-virtue-ethics-meego`),
            },
            {
              name: 'The Matrix of Christian Ethics',
              type: 'file',
              ext: 'pdf',
              slug: getLink(
                `${th610Link}/books/the-matrix-of-christian-ethics`
              ),
            },
            {
              name: 'Virtues and Practices in the Christian Tradition',
              type: 'file',
              ext: 'pdf',
              slug: getLink(
                `${th610Link}/books/virtues-and-practices-in-the-christian-tradition`
              ),
            },
          ],
        },
        {
          name: 'Introduction To Christian Ethics',
          type: 'directory',
          children: [
            {
              name: 'Notes',
              type: 'file',
              ext: 'sketch',
              slug: getLink(`${th610Link}/IntroductionToChristianEthics/notes`),
            },
            {
              name: '1 The Origins of Ethics',
              type: 'file',
              ext: 'md',
              slug: getLink(`${th610Link}/IntroductionToChristianEthics/1`),
            },
            {
              name: '2 The Good Life And The Christian Life',
              type: 'file',
              ext: 'md',
              slug: getLink(`${th610Link}/IntroductionToChristianEthics/2`),
            },
            {
              name: '3 Variations On The Christian Stance',
              type: 'file',
              ext: 'md',
              slug: getLink(`${th610Link}/IntroductionToChristianEthics/3`),
            },
            {
              name: '4 Goods, Goals, and God',
              type: 'file',
              ext: 'md',
              slug: getLink(`${th610Link}/IntroductionToChristianEthics/4`),
            },
            {
              name: '5 The Greatest Good For The Greatest Number?',
              type: 'file',
              ext: 'md',
              slug: getLink(`${th610Link}/IntroductionToChristianEthics/5`),
            },
            {
              name: '6 Natural Law and Human Law',
              type: 'file',
              ext: 'md',
              slug: getLink(`${th610Link}/IntroductionToChristianEthics/6`),
            },
            {
              name: '7 Principles, Casuistry, And Commandments',
              type: 'file',
              ext: 'md',
              slug: getLink(`${th610Link}/IntroductionToChristianEthics/7`),
            },
            {
              name: '8 Virtues, Natural And Theological',
              type: 'file',
              ext: 'md',
              slug: getLink(`${th610Link}/IntroductionToChristianEthics/8`),
            },
            {
              name: '9 Virtue And Responsibility',
              type: 'file',
              ext: 'md',
              slug: getLink(`${th610Link}/IntroductionToChristianEthics/9`),
            },
          ],
        },
        {
          name: 'Virtues and Practices',
          type: 'directory',
          children: [
            {
              name: 'Notes',
              type: 'file',
              ext: 'sketch',
              slug: getLink(`${th610Link}/virtuesAndPractices/notes`),
            },
            {
              name: '1 The Origins of Ethics',
              type: 'file',
              ext: 'md',
              slug: getLink(`${th610Link}/virtuesAndPractices/1`),
            },
          ],
        },
        {
          name: 'The Matrix of Christian Ethics',
          type: 'file',
          ext: 'sketch',
          slug: getLink(`${th610Link}/the-matrix-of-christian-ethics`),
        },
        {
          name: 'Christian Virtue Ethics (Meego)',
          type: 'file',
          ext: 'sketch',
          slug: getLink(`${th610Link}/christian-virtue-ethics-meego`),
        },
        {
          name: 'Reflections',
          type: 'file',
          ext: 'sketch',
          slug: getLink('vault/th610-christian-ethics/reflections'),
        },
      ],
    },
  ],
}

function redirectToLocale(locale: Languages) {
  const split = Astro.originPathname.split('/')

  split[1] = locale

  return split.join('/')
}

function getLink(path: string) {
  return `/${Astro.currentLocale}/${path}`
}
---

<aside class:list={['sidebar', { active: true }]} data-sidebar>
  <div class='sidebar-header'>
    <a href={getLink('')}>
      <div class='flex items-center gap-2'>
        <LogoSvg color='var(--accent)' height={32} />
        <h1 class='font-extrabold text-2xl'>Glass76</h1>
      </div>
    </a>

    <button class='button' data-sidebar-toggle>
      <SidebarLeftCollapseSvg width={24} color='var(--text-2)' />
    </button>
  </div>

  <div data-explorer>
    <div class='separator mb-4'></div>

    <FileExplorer tree={tree} />

    <div class='languages mt-8'>
      <a
        href={redirectToLocale(Languages.EN)}
        class:list={[{ active: Astro.currentLocale === 'en' }]}
      >
        <span>EN</span>
      </a>
      <a
        href={redirectToLocale(Languages.RU)}
        class:list={[{ active: Astro.currentLocale === 'ru' }]}
      >
        <span>RU</span>
      </a>
      <a
        href={redirectToLocale(Languages.RO)}
        class:list={[{ active: Astro.currentLocale === 'ro' }]}
      >
        <span>RO</span>
      </a>
    </div>
  </div>
</aside>

<script>
  const sidebarToggle = document.querySelector('[data-sidebar-toggle]')
  const sidebar = document.querySelector('[data-sidebar]')
  const explorer = document.querySelector('[data-explorer]')

  const isMobile = window.innerWidth < 787

  if (isMobile) {
    sidebarToggle?.classList.toggle('active')
    sidebar?.classList.toggle('active')
    explorer?.classList.toggle('hide')
  }

  sidebarToggle?.addEventListener('click', () => {
    sidebarToggle?.classList.toggle('active')
    sidebar?.classList.toggle('active')
    explorer?.classList.toggle('hide')
  })
</script>

<style>
  .sidebar {
    position: fixed;
    background-color: var(--background);
    padding: 8px;
    color: var(--text);
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom-right-radius: 8px;
    left: -255px;
    transition: left 0.2s;
    width: 300px;
    z-index: 1;
  }
  .sidebar.active {
    left: 0;
  }
  .hide {
    display: none;
  }
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .separator {
    height: 1px;
    background-color: var(--background-3);
  }

  .button {
    padding: 4px;
    border-radius: 4px;
    min-width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button:hover {
    background-color: var(--background-3);
    cursor: pointer;
  }

  [data-sidebar-toggle].active {
    transform: rotate(180deg);
  }

  .languages {
    font-size: 12px;
    display: flex;
    width: '100%';
    justify-content: end;
    color: var(--text-2);
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      height: 32px;
      width: 32px;
      cursor: pointer;
      &:hover {
        background-color: var(--background-3);
      }
    }

    .active {
      color: var(--accent);
    }
  }
</style>
