---
import SidebarLeftCollapseSvg from '@/assets/sidebar-left-collapse.svg'
import LogoSvg from '@/assets/logo.svg'
import FileExplorer from './FileExplorer.astro'
import { Languages } from '@/hooks/useLanguage'

const th610Link = 'vault/th610-christian-ethics'
const tree = {
  name: 'root',
  type: 'directory',
  children: [
    {
      name: 'TH 610 Christian Ethics',
      type: 'directory',
      children: [
        {
          name: 'Persons',
          type: 'directory',
          children: [
            {
              name: 'Plato',
              type: 'file',
              ext: 'md',
              active: true,
              slug: '/vault/th610-christian-ethics/persons/plato',
            },
            {
              name: 'Aristotel',
              type: 'file',
              ext: 'md',
              slug: '/vault/th610-christian-ethics/persons/aristotel',
            },
          ],
        },
        {
          name: 'The Matrix of Christian Ethics',
          type: 'file',
          ext: 'sketch',
          slug: '/vault/th610-christian-ethics/the-matrix-of-christian-ethics',
        },
        {
          name: 'Reflections',
          type: 'file',
          ext: 'sketch',
          slug: getLink('vault/th610-christian-ethics/reflections'),
        },
        {
          name: 'Intro',
          type: 'file',
          ext: 'md',
          slug: getLink('vault/th610-christian-ethics/intro'),
        },
        {
          name: 'Books',
          type: 'directory',
          children: [
            {
              name: 'An Introduction To Christian Ethics Goals Duties and Virtues',
              type: 'file',
              ext: 'pdf',
              slug: getLink(
                `${th610Link}/books/an-introduction-to-christian-ethics`
              ),
            },
            {
              name: 'Christian Virtue Ethics (Meego)',
              type: 'file',
              ext: 'pdf',
              slug: getLink(`${th610Link}/books/christian-virtue-ethics-meego`),
            },
            {
              name: 'The Matrix of Christian Ethics',
              type: 'file',
              ext: 'pdf',
              slug: getLink(
                `${th610Link}/books/the-matrix-of-christian-ethics`
              ),
            },
            {
              name: 'Virtues and Practices in the Christian Tradition',
              type: 'file',
              ext: 'pdf',
              slug: getLink(
                `${th610Link}/books/virtues-and-practices-in-the-christian-tradition`
              ),
            },
          ],
        },
        {
          name: 'Introduction To Christian Ethics',
          type: 'directory',
          children: [
            {
              name: 'Notes',
              type: 'file',
              ext: 'sketch',
              slug: getLink(`${th610Link}/IntroductionToChristianEthics/notes`),
            },
            {
              name: '4 Goods, Goals, and God',
              type: 'file',
              ext: 'md',
              slug: getLink(`${th610Link}/IntroductionToChristianEthics/4`),
            },
            {
              name: '5 The Greatest Good For The Greatest Number?',
              type: 'file',
              ext: 'md',
              slug: getLink(`${th610Link}/IntroductionToChristianEthics/5`),
            },
          ],
        },
      ],
    },
  ],
}

function redirectToLocale(locale: Languages) {
  const split = Astro.originPathname.split('/')

  split[1] = locale

  return split.join('/')
}

function getLink(path: string) {
  console.log('asd', Astro.currentLocale)
  return `/${Astro.currentLocale}/${path}`
}
---

<aside class:list={['sidebar', { active: true }]} data-sidebar>
  <div class='sidebar-header'>
    <a href={getLink('')}>
      <div class='flex items-center gap-2'>
        <LogoSvg color='var(--accent)' height={32} />
        <h1 class='font-extrabold text-2xl'>Glass76</h1>
      </div>
    </a>

    <button class='button' data-sidebar-toggle>
      <SidebarLeftCollapseSvg width={24} color='var(--text-2)' />
    </button>
  </div>

  <div data-explorer>
    <div class='separator mb-4'></div>

    <FileExplorer tree={tree} />

    <div class='languages'>
      <a href={redirectToLocale(Languages.EN)}>
        <span>EN</span>
      </a>
      <a href={redirectToLocale(Languages.RU)}>
        <span>RU</span>
      </a>
      <a href={redirectToLocale(Languages.RO)}>
        <span>RO</span>
      </a>
    </div>
  </div>
</aside>

<script>
  const sidebarToggle = document.querySelector('[data-sidebar-toggle]')
  const sidebar = document.querySelector('[data-sidebar]')
  const explorer = document.querySelector('[data-explorer]')

  sidebarToggle?.addEventListener('click', () => {
    sidebarToggle?.classList.toggle('active')
    sidebar?.classList.toggle('active')
    explorer?.classList.toggle('hide')
  })

  const ru = document.querySelector('[data-lng-ru')

  ru?.addEventListener('click', () => {
    const newUrl = location.pathname.split('/')
    newUrl[2] = 'ru'

    console.log(newUrl.join('/'), location)
  })
</script>

<style>
  .sidebar {
    position: fixed;
    background-color: var(--background);
    padding: 8px;
    color: var(--text);
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom-right-radius: 8px;
    left: -255px;
    transition: left 0.2s;
    width: 300px;
    z-index: 1;
  }
  .sidebar.active {
    left: 0;
  }
  .hide {
    display: none;
  }
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .separator {
    height: 1px;
    background-color: var(--background-3);
  }

  .button {
    padding: 4px;
    border-radius: 4px;
    min-width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button:hover {
    background-color: var(--background-3);
    cursor: pointer;
  }

  [data-sidebar-toggle].active {
    transform: rotate(180deg);
  }

  .languages {
    font-size: 12px;
    display: flex;
    width: '100%';
    justify-content: end;
    color: var(--text-2);
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      height: 32px;
      width: 32px;
      cursor: pointer;
      &:hover {
        background-color: var(--background-3);
      }
    }

    .active {
      color: var(--accent);
    }
  }
</style>
